# This is Git's per-user configuration file.
[user]
	name = Chanasit
	email = kai.chr160@gmail.com
[core]
	editor = nvim
	ignorecase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
	rebase = true
[merge]
  ff = no
  commit = no
[push]
	default = upstream
[color]
	ui = auto
