# This is Git's per-user configuration file.
[includeIf "gitdir:~/"]
	path = .gitconfig-me
[includeIf "gitdir:~/Golang/src/tdshop/"]
	path = .gitconfig-td
[core]
	editor = nvim
	ignorecase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[branch]
	autosetuprebase = always
[merge]
	ff = no
	commit = no
[push]
	default = upstream
[color]
	ui = auto
[pull]
	rebase = true
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	contributors = shortlog --summary --numbered
